<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body>
        <h2>This will be personalized user dashboard</h2>
        <h2>Welcome {{ username }}!</h2>
        
        <h3>things to show:</h3>
        <ul>
            <h3>
                <b>Study Hall</b>
            </h3>
            <li>flash card note submission</li>  
            <li>Volunteered student mentoring</li> 
            <h3>
                <b>Campus Tools</b>
            </h3>
            <li>Forum/Discussion board</li>
            <li>Map (Active Univesity/local map -- shows heat map and zones of various events)</li>
        </ul>
        <a href="{{ url_for('signout') }}">Sign Out </a>
    </body>
</html>